[Unit]
Description=HMU Patreon Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=5
Restart=always
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --name %n hmu-bot:latest

[Install]
WantedBy=default.target
