.hmu {
  --fc-border-color: #171717;

  .fc-view-harness.fc-view-harness-active {
    height: unset !important;
  }

  .fc .fc-button-group {
    margin: 0;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
  }

  .agenda {
    .fc-list-event.fc-event-forced-url:hover a {
      text-decoration: none;
    }

    .fc-list {
      border-width: 0;
    }

    .fc-list-event-title,
    .fc-list-event-time,
    .fc-view,
    .fc-theme-standard th {
      border: none;
    }
    .fc-list-day.fc-day th {
      background-color: #8a47ff;
      border: none;
    }
    .fc-list-event:hover td {
      background: unset;
    }
    .fc-list-event-graphic {
      display: none;
    }
    .fc-list-day-cushion {
      color: #f0f8ff;
    }
  }
}
