@font-face {
  font-family: "Hatton";
  src: url("/fonts/PP-Hatton-Medium-500.otf"),
    url("/fonts/PP-Hatton-Medium-500.woff") format("woff");
}

.hmu {
  background-color: rgb(138, 71, 255);

  .fc {
    height: 100vh !important;
    display: grid;
    grid: 1fr 6fr / 1fr;
  }
  .fc-view-harness.fc-view-harness-active {
    height: unset !important;
  }

  .fc .fc-button-group {
    margin: 0;
  }
  .fc .fc-toolbar-chunk {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
  }

  .fc .fc-button {
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .fc .fc-toolbar-title {
    font-size: min(10vw, 5rem);
    font-family: "Hatton";
  }

  .fc-theme-standard td,
  .fc-theme-standard th {
    border: 1px solid oklch(71.4% 0.203 305.504);
  }
}
